/* General Styles */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'bangers';
    letter-spacing: 0.2rem;
}

a, p, h1, h2, h3, h4 {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'nunito sans';
    font-weight: 800;
}

@media (min-width: 576px) {
    p, {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    p {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    p {
        font-size: 1.5rem;
    }
}

.container {
    height: 90%;
}


/* Header and Navigation Styles */
.header-top {
    background: transparent;
    height: 64px;
    padding: 0 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    
}

.toggle-menu {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.toggle-menu i {
    position: absolute;
    display: block;
    height: 4px;
    background: #17202a;
    width: 30px;
    left: 10px;
    -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
}

.toggle-menu i:nth-child(1) {
    top: 16px;
}

.toggle-menu i:nth-child(2) {
    top: 24px;
}

.toggle-menu i:nth-child(3) {
    top: 32px;
}

.open-menu i:nth-child(1) {
    top: 25px;
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 25px;
    -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg);
}

.hide {
    z-index: -10;
}

nav {
    height: 0;
    opacity: 0;
    background: #212f3c;
    position: fixed;
    top: 64px;
    width: 100%;
    -webkit-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}

.open-menu ~ nav {
    opacity: 1;
    padding: 80px 0;
    z-index: 15;
    height: 100%;
}

nav ul {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
        -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            justify-content: center;
}

nav li {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
}

nav li a {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    display: block;
    padding: 16px;
    color: white;
    text-align: center;
        -webkit-transition: background .3s;
             -o-transition: background .3s;
                transition: background .3s;
}

#menu li a {
    text-decoration: none;
}

nav li a:hover {
    color: rgb(2, 162, 210);
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.l-right {
    float: right;
}

.end {
    margin-top: 32px;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
     -webkit-transform: translateY(300px);
         -ms-transform: translateY(300px);
             transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
            transition: opacity, -webkit-transform 1s;
         -o-transition: opacity, transform 1s;
            transition: opacity, transform 1s;
            transition: opacity, transform 1s, -webkit-transform 1s;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: #17202a;
    width: 8px;
    height: 8px;
    margin: -2px 0 0 -2px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul a.active span, 
.fp-slidesNav ul a.active span {
    width: 20px;
    height: 20px;
    margin: -8px 0 0 -8px;
    background: #17202a;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/* Home */
#particles-js {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

#card-stack {
    display: flex;
    margin: 2% 0;
}

.card {
    box-sizing: content-box;
    width: 85px;
    height: 85px;
    border-radius: 6px;
    z-index: 10;
    font-size: 0.5rem;
    border: 4px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            -webkit-box-shadow: 0px 4px 8px gray, 0px -4px 8px gray, 4px 0px 8px gray, -4px 0px 8px gray;
                    box-shadow: 0px 4px 8px gray, 0px -4px 8px gray, 4px 0px 8px gray, -4px 0px 8px gray;
            -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
               justify-content: space-evenly;
            -webkit-transition: 0.4s ease-in-out;
                 -o-transition: 0.4s ease-in-out;
                    transition: 0.4s ease-in-out;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

.not-element {
    background: white; 
    color: #17202A;
}

.element {
    color: #fff;
    background-image: -webkit-radial-gradient(circle, #43a047, #003300);
    background-image: -o-radial-gradient(circle, #43a047, #003300);
    background-image: radial-gradient(circle, #43a047, #003300);
}

.element-header {
    padding: 8px 0 0 8px;
    opacity: 0;
    -webkit-transition: 0.4s ease-in-out;
         -o-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
}

.element-symbol {
    margin: 0 auto;
    padding: 0;
}

.element-symbol h1 {
    padding: 0;
    margin: 0;
}

.element-name {
    margin: 0 auto;
    padding: 0;
}

.element-footer {
    padding: 0 0 8px 8px;
    opacity: 0;
    -webkit-transition: 0.4s ease-in-out;
         -o-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.4);
    z-index: 11;
}

.element:hover .element-footer, .element:hover .element-header {
    opacity: 1;
}


/* About */
#aboutpage{
    text-align: center;
    min-height: 85%;
    border-top: 6px solid #17202A;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; */
}

#comic-strip {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100%;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 3vw;
}

.panel {
    background-color: #fff;
    border: solid 4px #fff;
    -webkit-box-shadow: 0 6px 6px -6px #000;
            box-shadow: 0 6px 6px -6px #000;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    height: 250px;
    margin: 1vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
}

.heading {
    font-size: 2.5rem;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    color: #17202A;
}

.panel:nth-child(1) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
        background-color: white;
}

.panel:nth-child(3) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

#me {
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    -webkit-transition: -webkit-filter 0.4s ease-in-out 0.1s;
    transition: -webkit-filter 0.4s ease-in-out 0.1s;
    -o-transition: filter 0.4s ease-in-out 0.1s;
    transition: filter 0.4s ease-in-out 0.1s;
    transition: filter 0.4s ease-in-out 0.1s, -webkit-filter 0.4s ease-in-out 0.1s;
}

#me:hover{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

.panel:nth-child(2) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

.panel:nth-child(3) {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
        background-image: -webkit-radial-gradient(circle, greenyellow, green);
        background-image: -o-radial-gradient(circle, greenyellow, green);
        background-image: radial-gradient(circle, greenyellow, green);
}

.panel:nth-child(1):hover .heading {
    background-color: #000;
    color: white;
}

.panel:nth-child(4) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
        background-image: -webkit-radial-gradient(circle, lightcoral, tomato);
        background-image: -o-radial-gradient(circle, lightcoral, tomato);
        background-image: radial-gradient(circle, lightcoral, tomato);
}

.panel:nth-child(5) {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    background-image: -webkit-radial-gradient(circle, yellow, orange);
    background-image: -o-radial-gradient(circle, yellow, orange);
    background-image: radial-gradient(circle, yellow, orange);
}

.panel:nth-child(6) {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    
}

.panel:nth-child(7) {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    background-image: -webkit-radial-gradient(circle, lightblue, deepskyblue);
    background-image: -o-radial-gradient(circle, lightblue, deepskyblue);
    background-image: radial-gradient(circle, lightblue, deepskyblue);
}

.panel-initial-text {
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.panel-hover-text {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
}

.panel:hover .panel-initial-text {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.panel:hover .panel-hover-text {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

/* Projects */
#projects-image-container {
    text-align: center;
}

#shadow-fiend {
    width: 66%;
    height: 66%;
    cursor: pointer;
    -webkit-animation: growShrink 4s infinite;
            animation: growShrink 4s infinite;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

@-webkit-keyframes growShrink {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    15% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }

    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes growShrink {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    15% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }

    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.speech {
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 1.2rem;
    top: 0%;
    left: 0%;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.speech:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 106px;
    top: 92px;
    border: 16px solid;
    border-color: #000 black transparent transparent;
}

.speech:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 114px;
    top: 92px;
    border: 10px solid;
    border-color: #fff #fff transparent transparent;
}

blockquote q {
    font-size: 1rem;
    line-height: 1.2rem;
}

#projects-text {
    margin-bottom: 32px;
}

.link-github {
    border: 4px solid #17202a;
    color: #17202a;
    padding: 10px 20px;
    margin-top: 32px;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.link-github:hover {
    color: white;
    background-color: #17202a;
}


/* Contact */
@-webkit-keyframes envelopeLeft {
    0% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     20% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
      25% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
      75% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
     80% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     100% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
}
  
@keyframes envelopeLeft {
    0% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     20% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
      25% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
      75% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
     80% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     100% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
}

.blue-empty {
    fill: none;
    stroke: rgb(2, 162, 210);
    stroke-width: 7;
    stroke-miterlimit: 10;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-animation: envelopeLeft 5s ease infinite;
            animation: envelopeLeft 5s ease infinite;
}

.blue-fill {
    fill: rgb(2, 162, 210);
    stroke: rgb(2, 162, 210);
    stroke-width: 7;
    stroke-miterlimit: 10;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
}
    
@-webkit-keyframes envelopeRight {
    0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    20% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    25% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    75% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    80% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
}
    
@keyframes envelopeRight {
    0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    20% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    25% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    75% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    80% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
}
    
#envelopeContainer {
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-animation: envelopeRight 5s ease infinite;
            animation: envelopeRight 5s ease infinite;
}

.envelope-square {
    fill: white;
    stroke: #17202a;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.envelope-flap {
    fill: none;
    stroke: #17202a;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.social-icons {
    font-size: 2.5em;
    margin: 1.8vw 2vw 0 0;
    color: #17202a;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

.fa-facebook-square:hover   { color: #3b5998;}
.fa-twitter-square:hover    { color: #55acee;}
.fa-linkedin:hover          {color: #0077b5;}
.fa-google-plus-square:hover{color: #dd4b39;}


/* .container {
    padding: 32px;
}

.bangers {
    font-family: 'bangers';
}

h1, h2, h3, h4 {
    font-family: 'bangers';
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-weight: 800;
    font-family: 'nunito sans';
    font-size: 1.4em;
}

q {
    font-family: 'bangers';
    font-size: 0.6em;
    line-height: 0.5em;
    margin: 0;
    padding: 0;
}

#home-hi, #home-title {
    font-family: 'nunito sans';
    font-weight: 800;
}

.header-top {
    background: transparent;
    height: 70px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1 a {
    display: block;
    padding: 0 10px;
    color: #17202A;
}

.toggle-menu {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.toggle-menu i {
    position: absolute;
    display: block;
    height: 4px;
    background: #17202a;
    width: 30px;
    left: 10px;
    -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
}

.toggle-menu i:nth-child(1) {
    top: 16px;
}

.toggle-menu i:nth-child(2) {
    top: 24px;
}

.toggle-menu i:nth-child(3) {
    top: 32px;
}

.open-menu i:nth-child(1) {
    top: 25px;
    -webkit-transform: rotateZ(45deg);
            -ms-transform: rotate(45deg);
        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 25px;
    -webkit-transform: rotateZ(-45deg);
            -ms-transform: rotate(-45deg);
        transform: rotateZ(-45deg);
}

.hide {
    z-index: -10;
}

nav {
    height: 0;
    opacity: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #212f3c;
    position: fixed;
    top: 70px;
    width: 100%;
-webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
}

.open-menu ~ nav {
    opacity: 1;
    padding: 80px 0;
    z-index: 15;
    height: calc(90vh - 70px);
}

nav ul {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

nav li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

nav li a {
    font-size: 3em;
    letter-spacing: 3px;
    display: block;
    padding: 30px;
    color: white;
    text-align: center;
    -webkit-transition: background .3s;
            -o-transition: background .3s;
            transition: background .3s;
}

nav li a:hover {
    color: rgb(2, 162, 210);
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
            transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
            transition: opacity, -webkit-transform 1s;
            -o-transition: opacity, transform 1s;
            transition: opacity, transform 1s;
            transition: opacity, transform 1s, -webkit-transform 1s;
    -webkit-transition-delay: 1s;
            -o-transition-delay: 1s;
    transition-delay: 1s;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: #17202a;
    width: 8px;
    height: 8px;
    margin: -2px 0 0 -2px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul a.active span, 
.fp-slidesNav ul a.active span {
    width: 20px;
    height: 20px;
    margin: -8px 0 0 -8px;
    background: #17202a;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#particles-js {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

#card-stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 16px 0;
}

.card {
    margin: 0px;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    border: 4px solid white;
    -webkit-box-shadow: 0px 4px 8px gray, 0px -4px 8px gray, 4px 0px 8px gray, -4px 0px 8px gray;
            box-shadow: 0px 4px 8px gray, 0px -4px 8px gray, 4px 0px 8px gray, -4px 0px 8px gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 800px;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: 10;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
}

.not-element {
    background: white; 
    color: #17202A;
}

.element {
    color: #fff;
    background-image: -webkit-radial-gradient(circle, #43a047, #003300);
    background-image: -o-radial-gradient(circle, #43a047, #003300);
    background-image: radial-gradient(circle, #43a047, #003300);
}

.element .element-symbol h1 {
    color: white;
}

.element:hover .element-header, .card:hover .element-footer {
    opacity: 1;
}

.element:hover {
    -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
            transform: scale(1.6);
    z-index: 20;
}

.element-header {
    padding: 4px 0 0 0;
    height: 6px;
    font-size: 6px;
    width: 66px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    opacity: 0;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.element-symbol {
    height: 40px;
    font-size: 1.5em;
    font-family: 'bangers';
}

.element-name {
    height: 6px;
    font-size: 6px;
    padding: 4px 0;
}

.element-footer {
    height: 6px;
    width: 66px;
    font-size: 6px;
    padding: 4px 0 6px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

#about{
    text-align: center;
    min-height: 100vh;
    border-top: 6px solid #17202A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

#comic-strip {
    margin-top: 50px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100%;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 3vw;
}

.panel {
    background-color: #fff;
    border: solid 4px #fff;
    -webkit-box-shadow: 0 6px 6px -6px #000;
            box-shadow: 0 6px 6px -6px #000;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    height: 200px;
    margin: 1vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
}

.heading {
    font-size: 3.5em;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    color: #17202A;
}

.panel:nth-child(1) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
        background-color: white;
}

.panel:nth-child(3) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

#me {
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    -webkit-transition: -webkit-filter 0.4s ease-in-out 0.1s;
    transition: -webkit-filter 0.4s ease-in-out 0.1s;
    -o-transition: filter 0.4s ease-in-out 0.1s;
    transition: filter 0.4s ease-in-out 0.1s;
    transition: filter 0.4s ease-in-out 0.1s, -webkit-filter 0.4s ease-in-out 0.1s;
}

#me:hover{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

.panel:nth-child(2) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

.panel:nth-child(3) {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
        background-image: -webkit-radial-gradient(circle, greenyellow, green);
        background-image: -o-radial-gradient(circle, greenyellow, green);
        background-image: radial-gradient(circle, greenyellow, green);
}

.panel:nth-child(1):hover .heading {
    background-color: #000;
    color: white;
}

.panel:nth-child(4) {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
        background-image: -webkit-radial-gradient(circle, lightcoral, tomato);
        background-image: -o-radial-gradient(circle, lightcoral, tomato);
        background-image: radial-gradient(circle, lightcoral, tomato);
}

.panel:nth-child(5) {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    background-image: -webkit-radial-gradient(circle, yellow, orange);
    background-image: -o-radial-gradient(circle, yellow, orange);
    background-image: radial-gradient(circle, yellow, orange);
}

.panel:nth-child(6) {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    
}

.panel:nth-child(7) {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    background-image: -webkit-radial-gradient(circle, lightblue, deepskyblue);
    background-image: -o-radial-gradient(circle, lightblue, deepskyblue);
    background-image: radial-gradient(circle, lightblue, deepskyblue);
}

.panel-initial-text {
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2em;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.panel-hover-text {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
}

.panel:hover .panel-initial-text {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.panel:hover .panel-hover-text {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

#shadow-fiend {
    -webkit-animation: growShrink 4s infinite;
            animation: growShrink 4s infinite;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    padding: 0 15%; 
    float: right; 
    cursor: pointer;
}

@-webkit-keyframes growShrink {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    15% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }

    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes growShrink {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    15% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }

    30% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.speech {
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 1.5em;
    top: 5%;
    left: 0%;
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.speech:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 106px;
    top: 92px;
    border: 16px solid;
    border-color: #000 black transparent transparent;
}

.speech:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 114px;
    top: 92px;
    border: 10px solid;
    border-color: #fff #fff transparent transparent;
}

.link-github {
    border: 4px solid #17202a;
    line-height: 3em;
    color: #17202a;
    font-size: 1em;
    padding: 8px 12px;
    margin-top: 48px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.link-github:hover {
    color: white;
    background-color: #212f3c;
}

@-webkit-keyframes envelopeLeft {
    0% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     20% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
      25% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
      75% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
     80% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     100% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
}
  
@keyframes envelopeLeft {
    0% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     20% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
      25% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
      75% {
       -webkit-transform: translateX(10px);
               transform: translateX(10px);
    }
     80% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
     100% {
       -webkit-transform: translateX(50px);
               transform: translateX(50px);
    }
}

.blue-empty {
    fill: none;
    stroke: rgb(2, 162, 210);
    stroke-width: 7;
    stroke-miterlimit: 10;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-animation: envelopeLeft 5s ease infinite;
            animation: envelopeLeft 5s ease infinite;
}

.blue-fill {
    fill: rgb(2, 162, 210);
    stroke: rgb(2, 162, 210);
    stroke-width: 7;
    stroke-miterlimit: 10;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
}
    
@-webkit-keyframes envelopeRight {
    0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    20% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    25% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    75% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    80% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
}
    
@keyframes envelopeRight {
    0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    20% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    25% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    75% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    }
    80% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
    100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
}
    
#envelopeContainer {
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-animation: envelopeRight 5s ease infinite;
            animation: envelopeRight 5s ease infinite;
}

.envelope-square {
    fill: white;
    stroke: #17202a;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.envelope-flap {
    fill: none;
    stroke: #17202a;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.social-icons {
    font-size: 3em;
    margin: 0 1em 0 0.5em;
    color: #17202a;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}
*/